<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Produtos</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet">
  
</head>
<body>
  <nav class="nav-main">
    <img src="/images/logo-devgraphic.png" alt="logo devgraphic" class="logo">
  </nav>
  <header class="banner">
    <h1 class="title-banner">Produtos</h1>
  </header>
  <section class="products">
    <h2 class="title-main">Escolha seu melhor produto</h2>
    <div class="all-products">
      <% products.forEach(item => { %>
        <a href="/produtos/<%=item.produto%>" class="item-product">
          <figure style="background-image: url('/images/produtos/<%=item.image%>');"></figure>
          <h3 class="title-product"><%= item.nome%></h3>
        </a>
       
      <% }); %>
    </div>
  </section>  
  <footer class="banner">
      <h1 class="title-banner">Rodapé</h1>
  </footer>
</body>
</html>