<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Produtos</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&family=Roboto+Mono:wght@200;400;700&display=swap" rel="stylesheet">
  
</head>
<body>
  <nav class="nav-main">
    <img src="/images/logo-devgraphic.png" alt="logo devgraphic" class="logo">
  </nav>
  <header class="banner">
    <h1 class="title-banner">Produtos</h1>
  </header>
  <section class="products">
    <h2 class="title-main">Escolha seu melhor produto</h2>
    <div class="all-products">
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/cartaodevisita.png');"></figure>
        <h3 class="title-product">Cartão de visita</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/panfleto-flyer.png');"></figure>
        <h3 class="title-product">Flyer / Panfleto</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/tag.png');"></figure>
        <h3 class="title-product">Tag</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/envelope.png');"></figure>
        <h3 class="title-product">Envelope saco para A4 aberto</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/folder.png');"></figure>
        <h3 class="title-product">Folder</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/calendario-mesa.png');"></figure>
        <h3 class="title-product">Calendário de mesa</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/calendario.png');"></figure>
        <h3 class="title-product">Calendário de parede</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/timbrado.png');"></figure>
        <h3 class="title-product">Papel timbrado</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/pasta.png');"></figure>
        <h3 class="title-product">Pasta</h3>
      </a>
      <a href="/produtos/cartao-de-visita" class="item-product">
        <figure style="background-image: url('/images/produtos/toten-dobravel.png');"></figure>
        <h3 class="title-product">Toten dobrável</h3>
      </a>
    </div>
  </section>  
  <footer class="banner">
      <h1 class="title-banner">Rodapé</h1>
  </footer>
</body>
</html>