*{
  box-sizing:  border-box;
}  

body{
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: normal;
  background-color: #F5F6FA;
}

input, textarea {
  outline: none;
  border: 1px solid #ccc;
  padding: 5px;
}

form{
  margin: 0;
}

ul{ list-style: none; }

h4{ margin: 0;}

a{text-decoration: none;}

.nav-main{
  background-color: #fff;
  padding: 10px 20px;
}
.nav-main .logo{
  height: 35px;
}

.banner{
  height: 150px;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  background: 
    linear-gradient(135deg,#0000 20.5%,#f4bf00 0 29.5%,#0000 0) 0 22px,
    linear-gradient( 45deg,#0000 8%,#f4bf00 0 17%, #0000 0 58%) 44px 0,
    linear-gradient(135deg,#0000 8%,#f4bf00 0 17%, #0000 0 58%,#f4bf00 0 67%,#0000 0),        
    linear-gradient( 45deg,#0000 8%,#f4bf00 0 17%, #0000 0 58%,#f4bf00 0 67%,#0000 0 83%,#f4bf00 0 92%,#0000 0),#8d5bfc;
  background-size: 88px 88px;
}

.title-banner{
  text-shadow: 0 0 40px #555;
}

.title-main{
  margin-top: 60px;
  font-size: 30px;
}

.products{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
}

.item-product{
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.25rem;
  padding-bottom: 10px;
  margin: 10px;
  transition: box-shadow 0.16s ease-in-out 0s;
  text-align: center;
}

.all-products{
  display: flex;
  flex-wrap: wrap;
}

.item-product:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 5px 0px, rgba(60, 64, 67, 0.15) 0px 2px 8px 3px;
}

.item-product figure{
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0;
}

.item-product .title-product{
  height: 50px;
  margin: 0;
  font-size: 16px;
  color: #444;
  align-items: center;
  display: flex;
  justify-content: center;
}

.layer{
  overflow: hidden;
  width: 100%;
  margin-top: 1.5rem;
  border: 1px solid rgb(212, 218, 222);
  border-radius: 0.25rem;
  background-color: #fff;
  display: flex;
  position: relative;
}

.indice{
  width: 80px;
  background-color: #18a2fc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto Mono';
  color: #fff;
}

.content-orcamento{
  padding: 0 20px 20px 20px;
  width: 100%;
}

.group-itens-block{
  display: flex;
  flex-wrap: wrap;
}

#layer5 .group-itens-block{
  justify-content: space-between;
}

.block-item{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
  color: #6590ab;
  margin: 10px;
}

.detalhes p{
  margin: 3px;
}

.quantidade .block-item{
  width: 200px;
  height: 40px;
  padding-right: 50px;
  text-align: right;
  position: relative;
  cursor: auto;
}

.qtd{
  font-family: 'Roboto Mono';
}

.quantidade .plus, .quantidade .minus{
  width: 20px;
  height: 20px;
  background: #18a2fc;
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  border: 1px solid #000;
  cursor: pointer;
}

.quantidade .plus{
  top: -1px;
  border-radius: 0 3px 0 0;
}

.quantidade .minus{
  bottom: -1px;
  border-radius: 0 0 3px 0;
}

.block-valor{
  width: 150px;
}

.block-valor h2{
  margin: 0;
  margin-left: 10px;
}

.valor-final{
  display: flex;
  flex-direction: row;
}

#preco{
  font-family: 'Roboto Mono';
}

.button-finish{
  background-color: #07edab;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.layer.inactive:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f6fa90;
}